* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
 
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    position: sticky;
    top: 0;
    z-index: 999;
    transition: all 0.4s ease;
  }
  
  
  
  
  .navbar .logo img {
    width: 100px;
    height: 100px;
  }
  
  .navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
  }
  
  .navbar .nav-links a {
    color:  #65B2EA; 
    text-decoration: none;
    font-size: 18px;
    position: relative;
    font-weight: 600;
    padding: 10px 15px;
    transition: all 0.3s ease;
    text-shadow: 0 0 5px #00ffff;
  }
  
  .navbar .nav-links a:hover {
    color: #ff00ff;
    transform: translateY(-3px);
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff;
  }
  
  .navbar .nav-links a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background: linear-gradient(90deg, #ff00ff, #00ffff);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
  }
  
  .navbar .nav-links a:hover::before {
    width: 100%;
  }
  
  .auth-links a {
    color: #fff;
    text-decoration: none;
    padding: 12px 30px;
    background: #65B2EA;
    border-radius: 25px;
    font-size: 16px;
    transition: all 0.3s ease;
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #00ffff;
  }
  
  .auth-links a:hover {
    transform: scale(1.1);
    background:   #65B2EA;
    box-shadow: 0 4px 30px rgba(0, 255, 255, 0.7);
  }
  
  
  
  /* Keyframes pour les animations */
  @keyframes star-glow {
    from {
      opacity: 0.8;
      transform: translate(-50%, -50%) scale(1);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1.2);
    }
  }
  